<a href="https://colab.research.google.com/github/GITSangWoo/BigDataTest/blob/main/%EB%B9%85%EB%B6%84%EA%B8%B0%EC%97%B0%EC%8A%B53(%EC%8B%A4%EA%B8%B0%EB%8C%80%EB%B9%842).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#분석 모형 선택

##데이터 탐색
 1. 데이터 탐색의 개념
  * 데이터 탐색은 수집한 데이터를 분석하기 전에 그래프나 통계적인 방법을 이용하여 다양한 각도에서 데이터의 특징을 파악하고 자료를 직관적으로 바라보는 분석 방법이다.
  * 데이터 탐색의 도구로는 도표, 요약 통계를 이용한다.

 2. 데이터 탐색 방법
  * 개별 데이터에 대한 탐색은 범주형, 수치형일 경우로 나누어 탐색한다.

### 개별 데이터 탐색
개별 데이터는 범주형데이터, 수치형 데이터를 탐색한다.

*   범주형 데이터(질적 데이터)
    * 명목 척도와 순위 척도에 대한 데이터 탐색
    * 빈도수, 최빈값, 비율, 백분율 등을 이용하여 데이터의 분포 특성을 중심성, 변동성 측면에서 파악
    * 시각화는 막대형 그래프(barplot)를 주로 이용
*   수치형 데이터(양적 데이터)
    * 등간 척도와 비율 척도에 대한 데이터 탐색
    * 평균, 분산, 표준편차, 첨도, 왜도 등을 이용하여 데이터의 분포 특성을 중심성, 변동성, 정규성 측면에서 파악
    * 시각화는 박스 플롯이나 히스토그램 주로 이용

#### 범주형 데이터 - 빈도수 탐색
value_counts 함수는 범주형 데이터에 대하여 빈도수를 탐색하는 함수이다.
```
pd.Series(x).value_counts(normalize,dropna)
```
파라미터  
 * x : 데이터
 * normalize : 빈도수 계산 여부(기본값 'False')
   * True : 상대적인 비율 계산
   * False : 빈도수 계산
 * dropna : 결측값 미포함하여 빈도수 계산 여부 (기본값 'True')
   * True : NaN 값을 포함하지 않고 빈도수 계산
   * False : NaN 값을 포함하여 빈도수 계산

In [ ]:
#빈도수 파악
import pandas as pd
import statsmodels.api as sm

mtcars = sm.datasets.get_rdataset('mtcars').data
print(pd.Series(mtcars['cyl']).value_counts())

cyl
8    14
4    11
6     7
Name: count, dtype: int64

In [ ]:
mtcars

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
rownames,,,,,,,,,,,
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

#### 수치형 데이터
 * 요약 통계량을 탐색할 수 있는 함수는 describe 함수를 주로 사용한다.
 * describe함수는 최솟값, 제1사분위수, 중위수, 평균, 제3사분위수, 최댓값 등의 요약 통계량을 제공하는 함수이다.
 ```
 describe(object)
 ```
 파라미터
  * object : 요약 통계량을 위한 데이터

In [ ]:
# describe 함수
import statsmodels.api as sm

mtcars = sm.datasets.get_rdataset('mtcars').data
print(mtcars['wt'].describe())

count    32.000000
mean      3.217250
std       0.978457
min       1.513000
25%       2.581250
50%       3.325000
75%       3.610000
max       5.424000
Name: wt, dtype: float64

### 다차원 데이터 탐색
주어진 데이터의 조합에 따라 범주형-범주형, 수치형-수치형, 범주형-수치형 데이터를 탐색하는 방법이 있다.

데이터 조합
 * 범주형 - 범주형 : 빈도수와 비율을 활용한 교차 빈도, 비율, 백분율 분석 등을 활용하여 데이터 간의 연관성을 분석
 * 수치형 - 수치형 : 피어슨(Pearson)상관계수를 통하여 방향과 강도 파악
 * 범주형 - 수치형 : 범주형 데이터의 항목들을 그룹으로 간주하고 각 그룹에 따라 수치형 변수의 기술 통계량 차이를 상호 비교

#### 범주형 - 범주형 데이터 탐색
 * 범주형 - 범주형 변수의 데이터 탐색에는 빈도수와 비율을 활용하여 데이터를 탐색한다.
 * crosstab 함수는 교차표는 두 개 이상의 범주형 변수 간의 관계를 요약하여 표 형태로 나타내는 함수이다.

 ```
 pd.crosstab(index, columns, rownames, colnames)
 ```
 파라미터
  * index : 교차표의 행 인덱스로 사용할 데이터
  * columns : 교차표의 열 인덱스로 사용할 데이터
  * rownames: 교차표의 행 이름으로 사용할 이름 배열
  * colnames: 교차표의 열 이름으로 사용할 이름 배열

In [ ]:
#crosstab 함수를 이용한 빈도 탐색

import pandas as pd
import statsmodels.api as sm

mtcars = sm.datasets.get_rdataset('mtcars').data
print(pd.crosstab(mtcars['am'],mtcars['cyl']))

cyl  4  6   8
am
0    3  4  12
1    8  3   2

#### 수치형 - 수치형 데이터 탐색
 * 수치형 - 수치형 데이터는 상관계수는 변수 간의 상관관계를 파악한다.
 * 수치형 데이터 간의 상관관계는 피어슨 상관계수를 이용한다.
 * 상관계수에 따른 상관 정도는 다음과 같다.

 *상관계수(r)와 상관 정도

  * 0.7~1 : 강한 양의 선형관계
  * 0.3~0.7 : 뚜렷한 양의 선형관계
  * 0.1~0.3 : 약한 양의 선형관계
  * -0.1 ~ 0.1 : 거의 무시될 수 있는 선형관계
  * -0.3 ~ -0.1 : 약한 음의 선형관계
  * -0.7 ~ -0.3 : 뚜렷한 음의 선형관계
  * -1 ~ -0.7 : 강한 음의 선형관계
 * 상관계수는 corr함수를 사용하여 구할 수 있다.
 ```
 x.corr(y,method)
 ```
 파라미터
  * x : 상관 관계를 계산하기 위한 X 에 해당하는 대상 데이터
  * y : 상관 관계를 계산하기 위한 Y 에 해당하는 대상 데이터
  * method : 상관계수 종류를 선택 (기본값 'pearson')
    * pearson : 피어슨 상관계수(기본값)
    * spearman: 스피어만의 순위 상관계수
    * kendall : 켄달 순위 상관계수

In [ ]:
#corr 함수
import statsmodels.api as sm

mtcars = sm.datasets.get_rdataset('mtcars').data
cor_mpg_wt= mtcars['mpg'].corr(mtcars['wt'])
print(cor_mpg_wt)

-0.8676593765172281

In [ ]:
import pandas as pd

df = pd.read_csv('PimaIndiansDiabetes2.csv')
print(df.info())
df = df.iloc[:,[3,4,5,8]]
df = df.dropna()
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  768 non-null    int64
 1   pregnant    768 non-null    int64
 2   glucose     763 non-null    float64
 3   pressure    733 non-null    float64
 4   triceps     541 non-null    float64
 5   insulin     394 non-null    float64
 6   mass        757 non-null    float64
 7   pedigree    768 non-null    float64
 8   age         768 non-null    int64
 9   diabetes    768 non-null    object
dtypes: float64(6), int64(3), object(1)
memory usage: 60.1+ KB
None
         pressure     triceps     insulin         age
count  394.000000  394.000000  394.000000  394.000000
mean    70.654822   29.106599  155.548223   30.814721
std     12.469919   10.504273  118.775855   10.198971
min     24.000000    7.000000   14.000000   21.000000
25%     62.000000   21.000000   76.250000   23.000000
50%     70.000000   29.000000  125.000000   27.000000
75%     78.000000   36.750000  190.000000   36.000000
max    110.000000   63.000000  846.000000   81.000000

##### 피어슨(Pearson) 상관계수
 * 피어슨 상관계수는 두 변수가 키와 몸무게 , 수입과 지출 등과 같은 연속형 자료일 경우에 두 변수 사이의 연관성을 계량적으로 산출하여 분석하는 방법이다.
 * 피어슨 상관계수는 두 연속형 자료가 정규성을 만족한다는 가정이 필요하다.
 * 수치형 데이터의 상관 분석에서 피어슨 상관계수 방법을 일반적으로 많이 사용한다.

---
##### 피어슨 상관계수

 $$ r=\frac{∑_{i=1}^{n}{(x_{i}-\bar{x})(y_{i}-\bar{y})}} {\sqrt{\sum_{i=1}^{n}{(x-\bar{x})^{2}}} \sqrt{\sum_{i=1}^{n}{(y_{i}-\bar{y})^{2}}}} $$

 * $x_{i}$ : $x$의 i 번째 관측치
 * $y_{i}$ : $y$의 i 번째 관측치
 * $\bar{x}$ : $x_{i}$의 평균
 * $\bar{y}$ : $y_{i}$의 평균

In [ ]:
print(df.corr(method='pearson'))

          pressure   triceps   insulin       age
pressure  1.000000  0.232342  0.098272  0.299845
triceps   0.232342  1.000000  0.184888  0.170694
insulin   0.098272  0.184888  1.000000  0.220261
age       0.299845  0.170694  0.220261  1.000000

##### 스피어만(Spearman) 순위 상관계수
 * 스피어만 순위 상관계수는 두 변수가 언어 성적 순위 (1등, 2등, 3등)와 수리 영역 순위 (1등, 2등, 3등) 같은 순서적 데이터일 경우에 두 변수 사이의 연관성을 계량적으로 산출하여 분석하는 방법이다.
 * 스피어만 상관계수에서 연속형 자료를 순서적 자료로 변환하여 사용한다.
 * 두 변수가 정규성을 만족하지 않는 경우나 순서적 데이터일 경우에 이용한다.
---
##### 스피어만 상관계수
 $$ θ=\frac{∑_{i=1}^{n}{(r_{i}-\bar{r})(s_{i}-\bar{s})}} {\sqrt{\sum_{i=1}^{n}{(r-\bar{r})^{2}}} \sqrt{\sum_{i=1}^{n}{(s_{i}-\bar{s})^{2}}}} \\=1-\frac{6\sum_{i=1}^{n}d_{i}^{2}}{n(n^{2}-1)}$$

 * $r_{i} : \ x_{1},x_{2},\dots,x_{n}에서 \ x_{i}의 \  순위 $
 * $s_{i}: \ y_{1},y_{2}, \dots,y_{n}에서 \ y_{i} \  순위$
 * $d_{i}= \ r_{i}-s_{i}$
 * $\bar{r} : \  r_{i}의 \ 평균$
 * $\bar{s}:\ s_{i}의 \ 평균$

In [ ]:
print(df.corr(method='spearman'))

          pressure   triceps   insulin       age
pressure  1.000000  0.249867  0.130463  0.328234
triceps   0.249867  1.000000  0.245188  0.246585
insulin   0.130463  0.245188  1.000000  0.267437
age       0.328234  0.246585  0.267437  1.000000

##### 켄달(Kendall)순위 상관계수
 * 켄달 순위 상관계수는 스피어만 상관계수와 유사하게 두 변수가 순서적 데이터일 경우에 두 변수 사이의 연관성을 계량적으로 산출하여 분석하는 방법이다.
 * 변수$(x_{i},y_{i})$가 주어져 $x_{i}$가 증가할 때 $y_{i}$도 증가할 경우 부합( concordant), $x_{i}$가 증가할 때 $y_{i}$가 감소할 경우 비부합(Discordant)으로 하여 상관계수를 구한다.
 * 두 변수가 정규성을 만족하지 않는 경우나 순서적 데이터일 경우에 이용한다.
 ---
 켄달 순위 상관계수
 $$r=\frac{C-D}{C+D}$$
  * $C$ : 부합(Concordant)쌍의 수
  * $D$ : 비부합(Discordant)쌍의 수

In [ ]:
print(df.corr(method='kendall'))

          pressure   triceps   insulin       age
pressure  1.000000  0.174742  0.090656  0.229840
triceps   0.174742  1.000000  0.169702  0.166394
insulin   0.090656  0.169702  1.000000  0.188594
age       0.229840  0.166394  0.188594  1.000000

####범주형-수치형 데이터 탐색
* 범주형 데이터의 항목들을 그룹으로 간주하고 항목들에 관한 기술 통계량으로 데이터를 탐색한다.
* groupby는 데이터를 특정 기준으로 그룹화하는 기능을 제공하는 함수이다.
```
groupby(열)
```
---
#####groupby와 함께 사용되는 집계 함수

* mean : 그룹별 평균
* var : 그룹별 분산
* std : 그룹별 표준편차
* sum : 그룹별 합계
* median : 그룹별 중앙값
* min : 그룹별 최솟값
* max : 그룹별 최댓값
* size : 그룹별 빈도

In [ ]:
#groubby 함수
import statsmodels.api as sm

mtcars = sm.datasets.get_rdataset('mtcars').data
print(mtcars.groupby('cyl')['mpg'].mean())

cyl
4    26.663636
6    19.742857
8    15.100000
Name: mpg, dtype: float64

###전체 데이터 파악

####info 함수
info 함수는 데이터 프레임 또는 시리즈의 요약 정보를 확인할 수 있는 함수이다.
```
df.info()
```

In [ ]:
#info 함수
import statsmodels.api as sm

mtcars = sm.datasets.get_rdataset('mtcars').data
print(mtcars['wt'].info())

<class 'pandas.core.series.Series'>
Index: 32 entries, Mazda RX4 to Volvo 142E
Series name: wt
Non-Null Count  Dtype
--------------  -----
32 non-null     float64
dtypes: float64(1)
memory usage: 512.0+ bytes
None

#### head 함수
head 함수는 데이터 앞부분을 출력하는 함수이다.
```
head(n)
```
파라미터
* n : 출력할 데이터의 수 (기본값 5)

In [ ]:
#head 함수
import statsmodels.api as sm

mtcars = sm.datasets.get_rdataset('mtcars').data
print(mtcars['wt'].head())

rownames
Mazda RX4            2.620
Mazda RX4 Wag        2.875
Datsun 710           2.320
Hornet 4 Drive       3.215
Hornet Sportabout    3.440
Name: wt, dtype: float64

#### tail 함수
 tail 함수는 데이터의 뒷부분을 출력하는 함수이다.
 ```
 tail(n)
 ```
 * n : 출력할 데이터의 수 (기본값 5)

In [ ]:
#tail 함수
import statsmodels.api as sm

mtcars = sm.datasets.get_rdataset('mtcars').data
print(mtcars['wt'].tail())

rownames
Lotus Europa      1.513
Ford Pantera L    3.170
Ferrari Dino      2.770
Maserati Bora     3.570
Volvo 142E        2.780
Name: wt, dtype: float64

#분석 모형 평가

## 회귀모형 평가
구축한 회귀모형에 대한 평가지표로 결정 계수와 수정된 결정 계수 이외에도 RMSE(Root Mean Squared Error; 평균 제곱근 오차), MSE(Mean Squared Error)등을 이용할 수 있다.

####MSE(Mean Squared Error; 평균 제곱 오차)

* sklearn.metrics 패키지에서 제공하는 mean_squared_error함수를 이용하여 구할 수 있다.
* MSE, RMSE의 값이 낮을수록 모형의 정확도가 높다고 할 수 있다.
* RMSE는 MSE의 양의 제곱근이다.
---

$$MSE=\frac{1}{n}\sum_{i=1}^{n}(y_{i}-\hat{y}_{i})^2$$
* $y_{i} :\  i 번째\  실제\  y값$
* $\hat{y}_{i}: \ y에\  대한\  예측값$
---
$$RMSE=\sqrt{\frac{1}{n}\sum_{i=1}^{n}{(y_{i}-\hat{y}_{i})^{2}}} $$
* $y_{i} :\  i 번째\  실제\  y값$
* $\hat{y}_{i}: \ y에\  대한\  예측값$
---
```
mean_squared_error(y_true, y_pred, squared)
```
파라미터
* y_true : 실제값을 나타내는 배열
* y_pred : 모델의 예측값을 나타내는 배열
* squared: 기본값 True
  * True : MSE
  * FALSE : RMSE

In [ ]:
from sklearn.metrics import mean_squared_error
import numpy as np
y_true = [3,5,7,9]
y_pred = [2,5,8,10]

print(mean_squared_error(y_true, y_pred))
print(np.sqrt(mean_squared_error(y_true,y_pred)))
print(mean_squared_error(y_true,y_pred,squared=False))

0.75
0.8660254037844386
0.8660254037844386

###결정계수(Coefficient of Determination; $R^{2}$)

* 선형 회귀분석의 성능 검증지표로 많이 이용(선형이 아닌 회귀모형에서도 사용가능)한다.
* 회귀모형이 실제값을 얼마나 잘 나타내는지에 대한 비율이다.
* 결정 계수가 1에 가까울수록 실제값을 잘 설명한다.($값의 범위\ 0\leq R^{2} \leq 1$)
* sklearn.metrics 패키지에서 제공하는 r2_score 함수를 이용하여 구할 수 있다.
```
r2_score(y_true, y_pred)
```
파라미터
 * y_true : 실제값을 나타내는 배열
 * y_pred : 모델의 예측값을 나타내는 배열

In [ ]:
#결정 계수
from sklearn.metrics import r2_score

y_true = [3,5,7,9]
y_pred = [2,5,8,10]

print(r2_score(y_true,y_pred))

0.85

##분류 모형 평가
구축한 회귀모형에 대한 평가를 혼동 행렬(Confusion Matrix)과 AUC(Area Under ROC;AUROC) 등을 이용할 수있다.

###예측 함수


1.   predict 함수  
predict 함수는 새로운 입력 데이터에 대한 예측 값을 반환하는 함수이다.
```
model.predict(x)
```
파라미터
 *  model : 학습된 모델 객체
 *  x:예측하려는 입력 데이터
2.   predict_proba 함수   
 predict_proba 함수는 각 클래스에 속할 확률을 반환하는 함수이다.  
```
model.predict_proba(x)
```
파라미터
 * model : 학습된 모델 객체
 * x : 예측하려는 입력 데이터

### 혼동 행렬


1.   혼동 행렬(Confusion matrix)개념  
혼동 행렬은 분석 모델에서 구한 분류의 예측 범주와 데이터의 실제 분류 범주를 교차표(Cross Table) 형태로 정리한 행렬이다.
---
2.   혼동 행렬 함수  
혼동 행렬은 sklearn.metrics패키지의 confusion_matrix함수를 이용하여 구할 수 있다.
```
confusion_matrix(y_true,y_pred)
```
파라미터
 * y_true : 실제값을 나타내는 배열
 * y_pred : 모델의 예측값을 나타내는 배열
---
3. 혼동 행렬 결과 해석
<center>
<img src='https://search.pstatic.net/sunny/?src=https%3A%2F%2Fi.namu.wiki%2Fi%2FeSMR6d76wWErA7K-y3YfnjJVQwxL6KRi09OLDdDs41s8V7EduWXD79wTg4EFkaK1n8J4UfpUcwxW6CyzMtbpTg.webp&type=sc960_832' width='780' /> <br>
</center>

 * 분류 값  
    * TP(True Positive): 실제 Positive인 샘플을 Positive로 정확히 예측한 경우의 수
    * FN(False Negative): 실제 Positive인 샘플을 Negative로 잘못 예측한 경우의 수
    * FP(False Positive): 실제 Negative인 샘플을 Positve로 잘못 에측한 경우의 수   
    * TN(True Negative): 실제 Negative인 샘플을 Negative로 정확히 예측한 경우의
    수
---
4. 혼동 행렬을 통한 분류 모형의 평가지표  
혼동 행렬로부터 계싼될 수 있는 평가지표는 정확도, 오차 비율, 민감도 등이 있고,
그중에서 정확도, 민감도, 정밀도는 많이 사용되는 지표이다.

 1. 정확도  
   * 정확도(Accuracy) 개념
    * 정확도는 실제 분류 범주를 정확하게 예측한 비율이다.
    * 전체 예측에서 참 긍정(TP)과 참 부정(TN)이 차지하는 비율이다.  
$$\frac{TP+TN}{TP+TN+FP+FN}$$
  *  정확도 함수   
   정확도는 sklearn.metrics패키지의 accuracy_score함수를 이용하여 구할 수있다.
   ```
   accuracy_score(y_true,y_pred)
   ```
   파라미터
    * y_true : 실제값을 나타내는 배열
    * y_pred : 모델의 예측값을 나타내는 배열

 2. 재현율
  * 재현율(Recall) 개념  
    재현율은 실제로 '긍정'인 범주(TP+FN) 중에서 '긍정'으로 올바르게 예측(TP)한 비율이다.
$$\frac{TP}{TP+FN}$$

  * 재현율 함수
    재현율은 sklearn.matrics 패키지의 recall_score함수를 이용하여 구할 수 있다.
    ```
    recall_score(y_true,y_pred)
    ```
   파라미터
    * y_true : 실제값을 나타내는 배열
    * y_pred : 모델의 예측값을 나타내는 배열
  
  3. 정밀도
   * 정밀도(Precision)개념  
   정밀도는 '긍정'으로 예측한 비율 중에서 실제로 '긍정'(TP)인  비율이다.
   $$\frac{TP}{TP+FP}$$
   * 정밀도 함수
   정밀도는 sklearn.metrics 패키지의 precison_score 함수를 이용하여 구할 수 있다.
   ```
   precision_score(y_true,y_pred)
   ```  
   파라미터
    * y_true : 실제값을 나타내는 배열
    * y_pred : 모델의 예측값을 나타내는 배열

  4. F1 지표
   * F1 지표(F1-Score)개념
    * F1 지표는 정밀도와 민감도(재현율)을 하나로 합한 성능 평가지표이다.
    * 정밀도와 민감도 양쪽이 모두 클 때 F1 지표도 큰 값을 가진다. (0~1사이의 범위를 가짐)
   $$2\times\frac{Precision\times Recall}{Precision+Recall}$$
   * F1 지표 함수
     F1 지표는 sklearn.metrics 패키지의 f1_score함수를 이용하여 구할 수 있다.
    ```
    f1_score(y_true,y_pred)
    ```
  파라미터
    * y_true : 실제값을 나타내는 배열
    * y_pred : 모델의 예측값을 나타내는 배열

In [ ]:
#혼동 행렬
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score

y_true=[1,0,1,0,1]
y_pred=[1,1,1,0,0]

cm = confusion_matrix(y_true,y_pred)
print(cm)
print(accuracy_score(y_true,y_pred))
print(recall_score(y_true,y_pred))
print(precision_score(y_true,y_pred))
print(f1_score(y_true,y_pred))

[[1 1]
 [1 2]]
0.6
0.6666666666666666
0.6666666666666666
0.6666666666666666

###AUC

1. AUC(Area Under ROC; AUROC)개념

 * AUC는 ROC 곡선(Receiver Operating Characteristic curve)아랫부분의 면적이다.
 * AUC의 값은 항상 0.5~1의 값을 가지며 1에 가까울수록 좋은 모형이다.

2. AUC 함수  
 * AUC는 sklearn.metrics 패키지의 roc_auc_score함수를 이용하여 구할 수 있다.
 ```
 roc_auc_score(y_true,y_score)
 ```
 파라미터
    * y_true : 실제값을 나타내는 배열
    * y_pred : 모델의 예측값을 나타내는 배열

In [ ]:
#roc_auc_score 함수
from sklearn.metrics import roc_auc_score

y_true = [1,0,1,0,1]
y_pred = [1,1,1,0,0]

print(roc_auc_score(y_true, y_pred))

0.5833333333333333

#분석 모형 구축

## 선형 회귀분석

1. 선형 회귀분석 개념
 * 선형 회귀분석은 독립변수와 종속변수와의 관계가 선형이고, 하나 이상의 독립변수들이 종속변수에 미치는 영향을 추정할 수 있는 통계기법이다.
 * 독립변수와 종속변수와의 관계가 선형이고 독립변수의 개수가 하나이면 단순 선형 회귀분석, 독립변수의 개수가 두 개 이상이면 다중 선형 회귀분석으로 분석한다.
 * 회귀분석은 하나 이상의 독립변수들이 종속변수에 미치는 영향을 추정할 수 있는 통계기법이다.
 *선형 회귀분석
 $$Y=β_{0}+\beta_{1}X_{1}+\beta_{2}X_{2}+\dots+\beta_{k}X_{k}+ϵ$$
 * $Y$:종속변수
 * $X_{1},X_{2},X_{3},\dots,X_{n}: \ 독립변수$
 * $\beta_{0}: 회귀식 \ 절편으로 \ 상수항 $
 * $\beta_{1},\beta_{2},\beta_{3},\dots,\beta_{n}: \ 회귀식 기울기$
 * $ϵ : \ 오차항$

2. 선형 회귀분석 모형 클래스
 * 선형 회귀분석은 LinearRegression 클래스를 사용하여 분석한다.
 * 선형 회귀분석에서는 하나의 독립변수에 따른 종속변수의 관계를 분석할 때 사용되므로 lm 함수의 formula 값에는 하나의 독립변수와 종속변수를 지정한다.
 ```
 lm(formula,data)
 ```
 파라미터  
 *  formula
    * 종속변수-독립변수 형식으로 지정
    * 다중회귀는 독립변수 여러 개 지정   
    ex) Salary ~ Hit(종속변수~독립변수)
 * data
    * 데이터 프레임명

In [ ]:
#선형 회귀분석
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

df = pd.read_csv("Hitters.csv")
print(df.describe())

            AtBat        Hits       HmRun        Runs         RBI       Walks  \
count  322.000000  322.000000  322.000000  322.000000  322.000000  322.000000
mean   380.928571  101.024845   10.770186   50.909938   48.027950   38.742236
std    153.404981   46.454741    8.709037   26.024095   26.166895   21.639327
min     16.000000    1.000000    0.000000    0.000000    0.000000    0.000000
25%    255.250000   64.000000    4.000000   30.250000   28.000000   22.000000
50%    379.500000   96.000000    8.000000   48.000000   44.000000   35.000000
75%    512.000000  137.000000   16.000000   69.000000   64.750000   53.000000
max    687.000000  238.000000   40.000000  130.000000  121.000000  105.000000

            Years       CAtBat        CHits      CHmRun        CRuns  \
count  322.000000    322.00000   322.000000  322.000000   322.000000
mean     7.444099   2648.68323   717.571429   69.490683   358.795031
std      4.926087   2324.20587   654.472627   86.266061   334.105886
min      1.000000     19.00000     4.000000    0.000000     1.000000
25%      4.000000    816.75000   209.000000   14.000000   100.250000
50%      6.000000   1928.00000   508.000000   37.500000   247.000000
75%     11.000000   3924.25000  1059.250000   90.000000   526.250000
max     24.000000  14053.00000  4256.000000  548.000000  2165.000000

              CRBI       CWalks      PutOuts     Assists      Errors  \
count   322.000000   322.000000   322.000000  322.000000  322.000000
mean    330.118012   260.239130   288.937888  106.913043    8.040373
std     333.219617   267.058085   280.704614  136.854876    6.368359
min       0.000000     0.000000     0.000000    0.000000    0.000000
25%      88.750000    67.250000   109.250000    7.000000    3.000000
50%     220.500000   170.500000   212.000000   39.500000    6.000000
75%     426.250000   339.250000   325.000000  166.000000   11.000000
max    1659.000000  1566.000000  1378.000000  492.000000   32.000000

            Salary
count   263.000000
mean    535.925882
std     451.118681
min      67.500000
25%     190.000000
50%     425.000000
75%     750.000000
max    2460.000000

In [ ]:
print(df.head(3))

   AtBat  Hits  HmRun  Runs  RBI  Walks  Years  CAtBat  CHits  CHmRun  CRuns  \
0    293    66      1    30   29     14      1     293     66       1     30
1    315    81      7    24   38     39     14    3449    835      69    321
2    479   130     18    66   72     76      3    1624    457      63    224

   CRBI  CWalks League Division  PutOuts  Assists  Errors  Salary NewLeague
0    29      14      A        E      446       33      20     NaN         A
1   414     375      N        W      632       43      10   475.0         N
2   266     263      A        W      880       82      14   480.0         A

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   AtBat      322 non-null    int64
 1   Hits       322 non-null    int64
 2   HmRun      322 non-null    int64
 3   Runs       322 non-null    int64
 4   RBI        322 non-null    int64
 5   Walks      322 non-null    int64
 6   Years      322 non-null    int64
 7   CAtBat     322 non-null    int64
 8   CHits      322 non-null    int64
 9   CHmRun     322 non-null    int64
 10  CRuns      322 non-null    int64
 11  CRBI       322 non-null    int64
 12  CWalks     322 non-null    int64
 13  League     322 non-null    object
 14  Division   322 non-null    object
 15  PutOuts    322 non-null    int64
 16  Assists    322 non-null    int64
 17  Errors     322 non-null    int64
 18  Salary     263 non-null    float64
 19  NewLeague  322 non-null    object
dtypes: float64(1), int64(16), object(3)
memory usage: 50.4+ KB
None

In [ ]:
df=df.dropna()
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 263 entries, 1 to 321
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   AtBat      263 non-null    int64
 1   Hits       263 non-null    int64
 2   HmRun      263 non-null    int64
 3   Runs       263 non-null    int64
 4   RBI        263 non-null    int64
 5   Walks      263 non-null    int64
 6   Years      263 non-null    int64
 7   CAtBat     263 non-null    int64
 8   CHits      263 non-null    int64
 9   CHmRun     263 non-null    int64
 10  CRuns      263 non-null    int64
 11  CRBI       263 non-null    int64
 12  CWalks     263 non-null    int64
 13  League     263 non-null    object
 14  Division   263 non-null    object
 15  PutOuts    263 non-null    int64
 16  Assists    263 non-null    int64
 17  Errors     263 non-null    int64
 18  Salary     263 non-null    float64
 19  NewLeague  263 non-null    object
dtypes: float64(1), int64(16), object(3)
memory usage: 43.1+ KB
None

In [ ]:
df =pd.get_dummies(df,drop_first=True)
x= df.drop('Salary',axis=1)
y= df['Salary']
train_x,test_x,train_y,test_y = train_test_split(x,y,test_size=0.2)
md = LinearRegression()
md.fit(train_x,train_y)
print(md.feature_names_in_)

['AtBat' 'Hits' 'HmRun' 'Runs' 'RBI' 'Walks' 'Years' 'CAtBat' 'CHits'
 'CHmRun' 'CRuns' 'CRBI' 'CWalks' 'PutOuts' 'Assists' 'Errors' 'League_N'
 'Division_W' 'NewLeague_N']

In [ ]:
print(md.coef_)

[-2.15167983e+00  9.53057934e+00  5.94861126e+00 -3.24837721e+00
 -2.66967484e+00  7.41832841e+00 -9.74119701e+00 -7.75150014e-02
 -1.55579024e-02 -6.50089586e-01  1.13659372e+00  9.55866833e-01
 -8.08974585e-01  2.53101899e-01  2.62026894e-01 -2.09599309e+00
  9.23079547e+01 -1.05391157e+02 -6.12752663e+01]

In [ ]:
print(md.intercept_)

82.79458782358557

In [ ]:
pred = md.predict(test_x)

In [ ]:
print(mean_squared_error(test_y, pred, squared=False))

369.8294223364165

##로지스틱 회귀 분석

* 로지스틱 회귀분석은 종속변수가 범주형인 경우 적용되는 회귀분석 모형이다.
* 새로운 독립변수의 값이 주어질 때 종속변수의 각 범주에 속할 확률이 얼마인지를
추정하여 추정 확률을 기준치에 따라 분류하는 목적으로 사용된다.

##로지스틱 회귀분석 클래스

로지스틱 회귀분석을 수행할 수 있는 클래스는 sklearn.linear_model 패키지의 LogisticRegression 클래스이다.
```
LogisticRegression(Penalty, C, solver, max_iter)
```
파라미터
 * Penalty : 규제 방법을 설정하는 파라미터(기본값 '12')
 * C : 규제 강도를 설정하는 파라미터 (기본값 1.0)
 * solver : 최적화 알고리즘을 선택하는 파라미터 (기본값 'lbfgs')
 * max_iter: 최대 반복 횟수를 지정하는 파라미터(기본값 200)

In [ ]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import LabelEncoder

df = pd.read_csv('PimaIndiansDiabetes2.csv')
print(df.describe())

         pregnant     glucose    pressure     triceps     insulin        mass  \
count  768.000000  763.000000  733.000000  541.000000  394.000000  757.000000
mean     3.845052  121.686763   72.405184   29.153420  155.548223   32.457464
std      3.369578   30.535641   12.382158   10.476982  118.775855    6.924988
min      0.000000   44.000000   24.000000    7.000000   14.000000   18.200000
25%      1.000000   99.000000   64.000000   22.000000   76.250000   27.500000
50%      3.000000  117.000000   72.000000   29.000000  125.000000   32.300000
75%      6.000000  141.000000   80.000000   36.000000  190.000000   36.600000
max     17.000000  199.000000  122.000000   99.000000  846.000000   67.100000

         pedigree         age
count  768.000000  768.000000
mean     0.471876   33.240885
std      0.331329   11.760232
min      0.078000   21.000000
25%      0.243750   24.000000
50%      0.372500   29.000000
75%      0.626250   41.000000
max      2.420000   81.000000

In [ ]:
print(df.head(3))

   pregnant  glucose  pressure  triceps  insulin  mass  pedigree  age diabetes
0         6    148.0      72.0     35.0      NaN  33.6     0.627   50      pos
1         1     85.0      66.0     29.0      NaN  26.6     0.351   31      neg
2         8    183.0      64.0      NaN      NaN  23.3     0.672   32      pos

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pregnant  768 non-null    int64
 1   glucose   763 non-null    float64
 2   pressure  733 non-null    float64
 3   triceps   541 non-null    float64
 4   insulin   394 non-null    float64
 5   mass      757 non-null    float64
 6   pedigree  768 non-null    float64
 7   age       768 non-null    int64
 8   diabetes  768 non-null    object
dtypes: float64(6), int64(2), object(1)
memory usage: 54.1+ KB
None

In [ ]:
df=df.dropna()
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 3 to 765
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pregnant  392 non-null    int64
 1   glucose   392 non-null    float64
 2   pressure  392 non-null    float64
 3   triceps   392 non-null    float64
 4   insulin   392 non-null    float64
 5   mass      392 non-null    float64
 6   pedigree  392 non-null    float64
 7   age       392 non-null    int64
 8   diabetes  392 non-null    object
dtypes: float64(6), int64(2), object(1)
memory usage: 30.6+ KB
None

In [ ]:
x=df.drop('diabetes',axis=1)
y=df['diabetes']
y=LabelEncoder().fit_transform(y)

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

md=LogisticRegression(max_iter=1000)
md.fit(x_train,y_train)
predict = md.predict(x_test)

cm=confusion_matrix(y_test,predict,labels=[1,0])
print(cm)

print(accuracy_score(y_test,predict))
print(recall_score(y_test,predict))
print(precision_score(y_test, predict))
print(f1_score(y_test,predict))
print(roc_auc_score(y_test,predict))

[[12 15]
 [ 8 44]]
0.7088607594936709
0.4444444444444444
0.6
0.5106382978723405
0.6452991452991452

##의사결정 나무
 1. 의사결정 나무(Decision Tree) 개념
   * 의사결정 나무는 데이터들이 가진 속성들로부터 분할 기준 속성을 판별하고, 분할 기준속성에 따라 트리 형태로 모델링하는 분류 예측 모델이다.
   * 의사결정 나무 기법은 분석의 대상에 대해 분류함수를 활용하여 의사결정 규칙으로 이루어진 나무 모양으로 그리는 기법이다.
---
  2. 의사결정 나무 클래스  

   * 의사결정나무를 수행할 수 있는 클래스는 sklearn.tree패키지의 DecisionTree-Classifier클래스이다.
  ```
  DecisionTreeCalssifier(criterion, max_depth, min_samples_split, min_samples_leaf, max_features)
  ```

 * 파라미터   
      * criterion : 트리의 분할 기준을 선택하는 파라미터(기본값은 'gini')
             'gini' : 지니 지수를 기준으로 분할
             'entropy' : 엔트로피 지수를 기준으로 분할
      * max_depth: 트리의 최대 깊이를 지정하는 파라미터
      * min_samples_split : 노드를 분할하기 위해 필요한 최소한의 샘플 수를 지정하는 파라미터
      * min_samples_leaf : 리프 노드가 되기 위해 필요한 최소한의 샘플 수를 지정하는 파라미터
      * max_features : 각분할에서 고려할 특성의 최대 개수를 지정하는 파라미터

In [ ]:
#의사결정나무
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import LabelEncoder

df=pd.read_csv('PimaIndiansDiabetes2.csv')

print(df.describe())

         pregnant     glucose    pressure     triceps     insulin        mass  \
count  768.000000  763.000000  733.000000  541.000000  394.000000  757.000000
mean     3.845052  121.686763   72.405184   29.153420  155.548223   32.457464
std      3.369578   30.535641   12.382158   10.476982  118.775855    6.924988
min      0.000000   44.000000   24.000000    7.000000   14.000000   18.200000
25%      1.000000   99.000000   64.000000   22.000000   76.250000   27.500000
50%      3.000000  117.000000   72.000000   29.000000  125.000000   32.300000
75%      6.000000  141.000000   80.000000   36.000000  190.000000   36.600000
max     17.000000  199.000000  122.000000   99.000000  846.000000   67.100000

         pedigree         age
count  768.000000  768.000000
mean     0.471876   33.240885
std      0.331329   11.760232
min      0.078000   21.000000
25%      0.243750   24.000000
50%      0.372500   29.000000
75%      0.626250   41.000000
max      2.420000   81.000000

In [ ]:
print(df.head(3))

   pregnant  glucose  pressure  triceps  insulin  mass  pedigree  age diabetes
0         6    148.0      72.0     35.0      NaN  33.6     0.627   50      pos
1         1     85.0      66.0     29.0      NaN  26.6     0.351   31      neg
2         8    183.0      64.0      NaN      NaN  23.3     0.672   32      pos

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pregnant  768 non-null    int64
 1   glucose   763 non-null    float64
 2   pressure  733 non-null    float64
 3   triceps   541 non-null    float64
 4   insulin   394 non-null    float64
 5   mass      757 non-null    float64
 6   pedigree  768 non-null    float64
 7   age       768 non-null    int64
 8   diabetes  768 non-null    object
dtypes: float64(6), int64(2), object(1)
memory usage: 54.1+ KB
None

In [ ]:
df=df.dropna()
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 3 to 765
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pregnant  392 non-null    int64
 1   glucose   392 non-null    float64
 2   pressure  392 non-null    float64
 3   triceps   392 non-null    float64
 4   insulin   392 non-null    float64
 5   mass      392 non-null    float64
 6   pedigree  392 non-null    float64
 7   age       392 non-null    int64
 8   diabetes  392 non-null    object
dtypes: float64(6), int64(2), object(1)
memory usage: 30.6+ KB
None

In [ ]:
x=df.drop('diabetes',axis=1)
y=df['diabetes']
y=LabelEncoder().fit_transform(y)

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

md = DecisionTreeClassifier(max_depth=2)
md.fit(x_train,y_train)

predict = md.predict(x_test)

cm = confusion_matrix(y_test,predict,labels=[1,0])
print(cm)

print(accuracy_score(y_test,predict))
print(recall_score(y_test,predict))
print(precision_score(y_test,predict))
print(f1_score(y_test,predict))
print(roc_auc_score(y_test,predict))

[[15  9]
 [ 9 46]]
0.7721518987341772
0.625
0.625
0.625
0.7306818181818182

## 서포트 벡터 머신
1. 서포트 벡터 머신(SVM;Support Vector Machine)의 개념
 * 서포트 벡터 머신은 데이터를 분리하는 초평면(Hyperplane)중에서 데이터들과 거리가 가장 먼 초평면을 선택하여 분리하는 지도학습 기반의 이진 선형 분류 모델이다.
 * 기계학습의 한 분야로 사물 인식, 패턴 인시그 손 글씨 숫자 인식 등 다양한 분야에서 활용되고 있는 지도학습 모델이다.
 * 최대 마진(Margin; 여유 공간)을 가지는 비확률적 선형 판별에 기초한 이진 분류기이다.

2. 서포트 벡터 머신 클래스
 * 서포트 벡터 머신을 수행할 수 있는 클래스는 sklearn.svm 패키지의 svc클래스이다.
 ```
 SVC(kernal, C)
 ```
 파라미터  
    * kernal :  커널함수를 지정하는 파라미터(기본값 'rbf')  
           'rbf':Radial Basis Function(RBF)  
           'linear':선형 커널  
           'poly' : 다항식 커널  
           'sigmoid' : 시그모이드 커널     
    * C : 오차 허용 범위를 조절하는 파라미터

In [ ]:
import pandas as pd
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import LabelEncoder

df = pd.read_csv('PimaIndiansDiabetes2.csv')

print(df.describe())

         pregnant     glucose    pressure     triceps     insulin        mass  \
count  768.000000  763.000000  733.000000  541.000000  394.000000  757.000000
mean     3.845052  121.686763   72.405184   29.153420  155.548223   32.457464
std      3.369578   30.535641   12.382158   10.476982  118.775855    6.924988
min      0.000000   44.000000   24.000000    7.000000   14.000000   18.200000
25%      1.000000   99.000000   64.000000   22.000000   76.250000   27.500000
50%      3.000000  117.000000   72.000000   29.000000  125.000000   32.300000
75%      6.000000  141.000000   80.000000   36.000000  190.000000   36.600000
max     17.000000  199.000000  122.000000   99.000000  846.000000   67.100000

         pedigree         age
count  768.000000  768.000000
mean     0.471876   33.240885
std      0.331329   11.760232
min      0.078000   21.000000
25%      0.243750   24.000000
50%      0.372500   29.000000
75%      0.626250   41.000000
max      2.420000   81.000000

In [ ]:
print(df.head(3))

   pregnant  glucose  pressure  triceps  insulin  mass  pedigree  age diabetes
0         6    148.0      72.0     35.0      NaN  33.6     0.627   50      pos
1         1     85.0      66.0     29.0      NaN  26.6     0.351   31      neg
2         8    183.0      64.0      NaN      NaN  23.3     0.672   32      pos

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pregnant  768 non-null    int64
 1   glucose   763 non-null    float64
 2   pressure  733 non-null    float64
 3   triceps   541 non-null    float64
 4   insulin   394 non-null    float64
 5   mass      757 non-null    float64
 6   pedigree  768 non-null    float64
 7   age       768 non-null    int64
 8   diabetes  768 non-null    object
dtypes: float64(6), int64(2), object(1)
memory usage: 54.1+ KB
None

In [ ]:
df=df.dropna()
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 3 to 765
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pregnant  392 non-null    int64
 1   glucose   392 non-null    float64
 2   pressure  392 non-null    float64
 3   triceps   392 non-null    float64
 4   insulin   392 non-null    float64
 5   mass      392 non-null    float64
 6   pedigree  392 non-null    float64
 7   age       392 non-null    int64
 8   diabetes  392 non-null    object
dtypes: float64(6), int64(2), object(1)
memory usage: 30.6+ KB
None

In [ ]:
x=df.drop('diabetes', axis=1)
y=df['diabetes']
y=LabelEncoder().fit_transform(y)
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

md= SVC(kernel='linear')
md.fit(x_train,y_train)

predict = md.predict(x_test)

cm = confusion_matrix(y_test, predict,labels=[1,0])
print(cm)

[[21  7]
 [ 8 43]]

In [ ]:
print(accuracy_score(y_test,predict))

0.810126582278481

In [ ]:
print(recall_score(y_test,predict))

0.75

In [ ]:
print(precision_score(y_test,predict))

0.7241379310344828

In [ ]:
print(f1_score(y_test,predict))

0.736842105263158

In [ ]:
print(roc_auc_score(y_test,predict))

0.7965686274509804

##KNN

1. K-NN(K-Nearest Neighbor; K-최근접 이웃) 개념
 * K-NN 알고리즘은 새로운 데이터 클래스를 해당 데이터와 가장 가까운 k개 데이터들의 클래스로 분류하는 알고리즘이다.
 * K-NN 알고리즘에서는 유클리디안 거리, 맨하탄 거리, 민코우스키 거리 등을 사용할 수 있으며, 일반적으로 유클리디안 거리를 사용한다.
 * 근접 이웃의 수인 K는 학습의 난이도와 훈련 데이터의 개수에 따라 결정하며, 일반적으로 훈련 데이터 개수의 제곱근으로 설정한다.

2. K-NN클래스
 * K-NN을 수행할 수 있는 클래스는 sklearn.neighbors 패키지의 KNeighbors-Classifier 클래스이다.
 ```
 KNeighborsClassifier(n_neighbors,weights)
 ```
 * 파라미터   
          n_neighbors : 이웃의 수를 지정하는 파라미터(기본값 5)
          weigths : 이웃들의 가중치를 결정하는 방법을 지정하는 파라미터(기본값 'uniform')

In [ ]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import *
from sklearn.preprocessing import LabelEncoder

df = pd.read_csv('PimaIndiansDiabetes2.csv')

print(df.describe())

         pregnant     glucose    pressure     triceps     insulin        mass  \
count  768.000000  763.000000  733.000000  541.000000  394.000000  757.000000
mean     3.845052  121.686763   72.405184   29.153420  155.548223   32.457464
std      3.369578   30.535641   12.382158   10.476982  118.775855    6.924988
min      0.000000   44.000000   24.000000    7.000000   14.000000   18.200000
25%      1.000000   99.000000   64.000000   22.000000   76.250000   27.500000
50%      3.000000  117.000000   72.000000   29.000000  125.000000   32.300000
75%      6.000000  141.000000   80.000000   36.000000  190.000000   36.600000
max     17.000000  199.000000  122.000000   99.000000  846.000000   67.100000

         pedigree         age
count  768.000000  768.000000
mean     0.471876   33.240885
std      0.331329   11.760232
min      0.078000   21.000000
25%      0.243750   24.000000
50%      0.372500   29.000000
75%      0.626250   41.000000
max      2.420000   81.000000

In [ ]:
print(df.head(3))

   pregnant  glucose  pressure  triceps  insulin  mass  pedigree  age diabetes
0         6    148.0      72.0     35.0      NaN  33.6     0.627   50      pos
1         1     85.0      66.0     29.0      NaN  26.6     0.351   31      neg
2         8    183.0      64.0      NaN      NaN  23.3     0.672   32      pos

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pregnant  768 non-null    int64
 1   glucose   763 non-null    float64
 2   pressure  733 non-null    float64
 3   triceps   541 non-null    float64
 4   insulin   394 non-null    float64
 5   mass      757 non-null    float64
 6   pedigree  768 non-null    float64
 7   age       768 non-null    int64
 8   diabetes  768 non-null    object
dtypes: float64(6), int64(2), object(1)
memory usage: 54.1+ KB
None

In [ ]:
df=df.dropna()
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 3 to 765
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pregnant  392 non-null    int64
 1   glucose   392 non-null    float64
 2   pressure  392 non-null    float64
 3   triceps   392 non-null    float64
 4   insulin   392 non-null    float64
 5   mass      392 non-null    float64
 6   pedigree  392 non-null    float64
 7   age       392 non-null    int64
 8   diabetes  392 non-null    object
dtypes: float64(6), int64(2), object(1)
memory usage: 30.6+ KB
None

In [ ]:
x=df.drop('diabetes',axis=1)
y=df['diabetes']
y= LabelEncoder().fit_transform(y)
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

md = KNeighborsClassifier(n_neighbors=5)
md.fit(x_train,y_train)

predict =md.predict(x_test)

cm=confusion_matrix(y_test,predict,labels=[1,0])
print(cm)

[[12 13]
 [12 42]]

In [ ]:
print(accuracy_score(y_test,predict))

0.6835443037974683

In [ ]:
print(recall_score(y_test,predict))

0.48

In [ ]:
print(precision_score(y_test,predict))

0.5

In [ ]:
print(f1_score(y_test,predict))

0.4897959183673469

In [ ]:
print(roc_auc_score(y_test,predict))

0.6288888888888889

##인공신경망
1. 인공신경망(ANN; Artificial Neural Network)개념
  * 인공신경망은 인간의 뉴런 구조를 모방하여 만든 기계학습 모델이다.
  * 인공신경망은 입력값을 받아서 출력값을 만들기 위해 활성화 함수를 사용한다.

2. 인공신경망 클래스
  * 인공신경망을 수행할 수 있는 클래스는 sklearn.neural_network 패키지의 MLPClassifier 클래스이다.
  ```
  MLPClassifier(hidden_layer_sizes, activation,  solver, max_iter,random_state)
  ```
  * 파라미터  
         hidden_layer_sizes : 은닉층의 구조를 지정하는 파라미터
         예: (64,32)
         → 첫 번째 은닉층에 64개의 뉴런, 두 번째 은닉층에 32개의 뉴런을 가지는 다층 퍼셉트론

         activation : 활성화 함수를 지정하는 파라미터 (기본값 'relu')
          - 'logistic' : 로지스틱 시그모이드 함수
          - 'tanh' : 하이퍼볼릭 탄젠트 함수

         solver : 가중치 최적화에 사용할 알고리즘을 지정하는 파라미터

         max_iter : 최대 반복 횟수를 지정하는 파라미터(기본값200)

         random_state : 랜덤 시드 값으로, 결과의 재현성을 위해 사용하는 파라미터

In [ ]:
# 인공신경망
import pandas as pd
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import *
from sklearn.preprocessing import LabelEncoder

df= pd.read_csv('PimaIndiansDiabetes2.csv')

print(df.describe())

         pregnant     glucose    pressure     triceps     insulin        mass  \
count  768.000000  763.000000  733.000000  541.000000  394.000000  757.000000
mean     3.845052  121.686763   72.405184   29.153420  155.548223   32.457464
std      3.369578   30.535641   12.382158   10.476982  118.775855    6.924988
min      0.000000   44.000000   24.000000    7.000000   14.000000   18.200000
25%      1.000000   99.000000   64.000000   22.000000   76.250000   27.500000
50%      3.000000  117.000000   72.000000   29.000000  125.000000   32.300000
75%      6.000000  141.000000   80.000000   36.000000  190.000000   36.600000
max     17.000000  199.000000  122.000000   99.000000  846.000000   67.100000

         pedigree         age
count  768.000000  768.000000
mean     0.471876   33.240885
std      0.331329   11.760232
min      0.078000   21.000000
25%      0.243750   24.000000
50%      0.372500   29.000000
75%      0.626250   41.000000
max      2.420000   81.000000

In [ ]:
print(df.head(3))

   pregnant  glucose  pressure  triceps  insulin  mass  pedigree  age diabetes
0         6    148.0      72.0     35.0      NaN  33.6     0.627   50      pos
1         1     85.0      66.0     29.0      NaN  26.6     0.351   31      neg
2         8    183.0      64.0      NaN      NaN  23.3     0.672   32      pos

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pregnant  768 non-null    int64
 1   glucose   763 non-null    float64
 2   pressure  733 non-null    float64
 3   triceps   541 non-null    float64
 4   insulin   394 non-null    float64
 5   mass      757 non-null    float64
 6   pedigree  768 non-null    float64
 7   age       768 non-null    int64
 8   diabetes  768 non-null    object
dtypes: float64(6), int64(2), object(1)
memory usage: 54.1+ KB
None

In [ ]:
df=df.dropna()
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 3 to 765
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pregnant  392 non-null    int64
 1   glucose   392 non-null    float64
 2   pressure  392 non-null    float64
 3   triceps   392 non-null    float64
 4   insulin   392 non-null    float64
 5   mass      392 non-null    float64
 6   pedigree  392 non-null    float64
 7   age       392 non-null    int64
 8   diabetes  392 non-null    object
dtypes: float64(6), int64(2), object(1)
memory usage: 30.6+ KB
None

In [ ]:
x=df.drop('diabetes',axis=1)
y=df['diabetes']
y=LabelEncoder().fit_transform(y)

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

md=MLPClassifier(hidden_layer_sizes=(64,32),activation='relu',max_iter=1000)
md.fit(x_train,y_train)

predict=md.predict(x_test)

cm=confusion_matrix(y_test,predict)
print(cm)

[[44  4]
 [17 14]]

In [ ]:
print(accuracy_score(y_test,predict))

0.7341772151898734

In [ ]:
print(recall_score(y_test,predict))

0.45161290322580644

In [ ]:
print(precision_score(y_test,predict))

0.7777777777777778

In [ ]:
print(f1_score(y_test,predict))

0.5714285714285714

In [ ]:
print(roc_auc_score(y_test,predict))

0.6841397849462365

##앙상블

###배깅
 1. 배깅(Bagging; BootStrap Aggregating)의 개념
  * 배깅은 훈련 데이터에서 다수의 부트스트랩(BootStrap)자료를 생성하고, 각 자료를 모델링한 후 결합하여 최종 예측 모형을 만드는 알고리즘이다.
  * 부트스트랩은 주어진 자료에서 같은 크기의 표본을 랜덤 복원 추출로 뽑은 자료를 의미한다.

 2. 배깅 클래스  
   * 배깅을 수행할 수 있는 클래스는 sklearn.ensemble 패키지의 BaggingClassifier 클래스이다.
   ```
   BaggingClassifier(base_estimator,max_samples, n_estimators)
   ```
    * 파라미터
   ```
   base_estimator : 사용할 기본 분류기를 지정하는 파라미터
   max_samples : 개별 분류기에 사용할 샘플의 수 또는 비율을 지정하는 파라미터(기본값 1.0)
   n_estimators : 앙상블에 사용할 개별 분류기의 수를 지정하는 파라미터

   ```

In [ ]:
#배깅
import pandas as pd
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import *

df=pd.read_csv('PimaIndiansDiabetes2.csv')
print(df.describe())

         pregnant     glucose    pressure     triceps     insulin        mass  \
count  768.000000  763.000000  733.000000  541.000000  394.000000  757.000000
mean     3.845052  121.686763   72.405184   29.153420  155.548223   32.457464
std      3.369578   30.535641   12.382158   10.476982  118.775855    6.924988
min      0.000000   44.000000   24.000000    7.000000   14.000000   18.200000
25%      1.000000   99.000000   64.000000   22.000000   76.250000   27.500000
50%      3.000000  117.000000   72.000000   29.000000  125.000000   32.300000
75%      6.000000  141.000000   80.000000   36.000000  190.000000   36.600000
max     17.000000  199.000000  122.000000   99.000000  846.000000   67.100000

         pedigree         age
count  768.000000  768.000000
mean     0.471876   33.240885
std      0.331329   11.760232
min      0.078000   21.000000
25%      0.243750   24.000000
50%      0.372500   29.000000
75%      0.626250   41.000000
max      2.420000   81.000000

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pregnant  768 non-null    int64
 1   glucose   763 non-null    float64
 2   pressure  733 non-null    float64
 3   triceps   541 non-null    float64
 4   insulin   394 non-null    float64
 5   mass      757 non-null    float64
 6   pedigree  768 non-null    float64
 7   age       768 non-null    int64
 8   diabetes  768 non-null    object
dtypes: float64(6), int64(2), object(1)
memory usage: 54.1+ KB
None

In [ ]:
df=df.dropna()
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 3 to 765
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pregnant  392 non-null    int64
 1   glucose   392 non-null    float64
 2   pressure  392 non-null    float64
 3   triceps   392 non-null    float64
 4   insulin   392 non-null    float64
 5   mass      392 non-null    float64
 6   pedigree  392 non-null    float64
 7   age       392 non-null    int64
 8   diabetes  392 non-null    object
dtypes: float64(6), int64(2), object(1)
memory usage: 30.6+ KB
None

In [ ]:
x=df.drop('diabetes',axis=1)
y=df['diabetes']
y=LabelEncoder().fit_transform(y)

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

base_model = DecisionTreeClassifier(max_depth=2)
md=BaggingClassifier(base_model,n_estimators=100)
md.fit(x_train,y_train)

predict=md.predict(x_test)

cm=confusion_matrix(y_test,predict)
print(cm)

[[43  5]
 [19 12]]

In [ ]:
print(accuracy_score(y_test,predict))

0.6962025316455697

In [ ]:
print(recall_score(y_test,predict))

0.3870967741935484

In [ ]:
print(precision_score(y_test,predict))

0.7058823529411765

In [ ]:
print(f1_score(y_test,predict))

0.5

In [ ]:
print(roc_auc_score(y_test,predict))

0.6414650537634409

###랜덤 포레스트
랜덤 포레스트(Random Forest)의 개념
  * 랜덤 포레스트는 의사결정 나무의 특징인 분산인 크다는 점을 고려하여 배깅과 부스팅보다 더 많은 무작위성을 주어 약한 학습기들을 생성한 후 이를 선형 결합하여 최종 학습기를 만드는 방법이다.
  * 랜덤 포레스트 패키지는 랜덤 입력(Random Input)에 따른 여러 트리(Tree)의 집합인 포레스트(Forest)를 이용한 분류 방법이다.

#### 랜덤포레스트 클래스(종속변수가 범주형)
  * 랜덤 포레스트를 수행할 수 있는 클래스는 sklearn.ensemble 패키지의 RandomForestClassifier 클래스이다.
  ```
  RandomForestClassifier(n_estimators,criterion,max_depth)
  ```
  * 파라미터  
         n_estimators : 생성할 트리의 개수를 지정하는 파라미터  

         criterion : 트리의 분할 기준을 선택하는 파라미터 (기본값은 'gini')
                     'gini' : 지니 지수를 기준으로 분할
                     'entropy' : 엔트로피 지수를 기준으로 분할
         
         max_depth : 트리의 최대 깊이를 제한하는 파라미터 (기본값:None)
                   : 트리의 깊이가 깊어질수록 모델의 복잡도가 증가하고 과적합될 확률이 높아짐

In [ ]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import *
from sklearn.preprocessing import LabelEncoder

df=pd.read_csv('PimaIndiansDiabetes2.csv')

print(df.describe())

         pregnant     glucose    pressure     triceps     insulin        mass  \
count  768.000000  763.000000  733.000000  541.000000  394.000000  757.000000
mean     3.845052  121.686763   72.405184   29.153420  155.548223   32.457464
std      3.369578   30.535641   12.382158   10.476982  118.775855    6.924988
min      0.000000   44.000000   24.000000    7.000000   14.000000   18.200000
25%      1.000000   99.000000   64.000000   22.000000   76.250000   27.500000
50%      3.000000  117.000000   72.000000   29.000000  125.000000   32.300000
75%      6.000000  141.000000   80.000000   36.000000  190.000000   36.600000
max     17.000000  199.000000  122.000000   99.000000  846.000000   67.100000

         pedigree         age
count  768.000000  768.000000
mean     0.471876   33.240885
std      0.331329   11.760232
min      0.078000   21.000000
25%      0.243750   24.000000
50%      0.372500   29.000000
75%      0.626250   41.000000
max      2.420000   81.000000

In [ ]:
print(df.head(3))

   pregnant  glucose  pressure  triceps  insulin  mass  pedigree  age diabetes
0         6    148.0      72.0     35.0      NaN  33.6     0.627   50      pos
1         1     85.0      66.0     29.0      NaN  26.6     0.351   31      neg
2         8    183.0      64.0      NaN      NaN  23.3     0.672   32      pos

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pregnant  768 non-null    int64
 1   glucose   763 non-null    float64
 2   pressure  733 non-null    float64
 3   triceps   541 non-null    float64
 4   insulin   394 non-null    float64
 5   mass      757 non-null    float64
 6   pedigree  768 non-null    float64
 7   age       768 non-null    int64
 8   diabetes  768 non-null    object
dtypes: float64(6), int64(2), object(1)
memory usage: 54.1+ KB
None

In [ ]:
df=df.dropna()
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 3 to 765
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pregnant  392 non-null    int64
 1   glucose   392 non-null    float64
 2   pressure  392 non-null    float64
 3   triceps   392 non-null    float64
 4   insulin   392 non-null    float64
 5   mass      392 non-null    float64
 6   pedigree  392 non-null    float64
 7   age       392 non-null    int64
 8   diabetes  392 non-null    object
dtypes: float64(6), int64(2), object(1)
memory usage: 30.6+ KB
None

In [ ]:
x=df.drop('diabetes',axis=1)
y=df['diabetes']
y=LabelEncoder().fit_transform(y)

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

md = RandomForestClassifier(n_estimators=100, max_depth=2)
md.fit(x_train,y_train)

pred=md.predict(x_test)
print(pred)

cm1=confusion_matrix(pred,y_test,labels=[1,0])
cm2=confusion_matrix(y_test,pred,labels=[1,0])
print(cm1)
print(cm2)

[0 1 0 0 0 0 0 1 0 0 0 0 1 1 1 1 0 0 1 1 1 0 0 0 1 1 0 0 0 0 0 0 0 1 0 0 0
 0 0 0 1 1 0 0 1 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0
 0 0 1 0 1]
[[17  4]
 [12 46]]
[[17 12]
 [ 4 46]]

In [ ]:
print(accuracy_score(y_test,pred))
print(recall_score(y_test,pred))
print(precision_score(y_test,pred))
print(f1_score(y_test,pred))
print(roc_auc_score(y_test,pred))

0.7974683544303798
0.5862068965517241
0.8095238095238095
0.68
0.7531034482758622

####랜덤 포레스트 클래스(종속변수가 수치형)
  * 랜덤 포레스트를 수행할 수 있는 클래스는 sklearn.ensemble 패키지의 RandomForestClassifier 클래스이다.
  ```
  RandomForestClassifier(n_estimators,criterion,max_depth)
  ```
  * 파라미터  
         n_estimators : 생성할 트리의 개수를 지정하는 파라미터  

         criterion : 트리의 분할 기준을 선택하는 파라미터 (기본값은 'mse')
                     'mse': 평균 제곱 오차
         
         max_depth : 트리의 최대 깊이를 제한하는 파라미터 (기본값:None)
                   : 트리의 깊이가 깊어질수록 모델의 복잡도가 증가하고 과적합될 확률이 높아짐

In [ ]:
#랜덤 포레스트(종속변수가 수치형)
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import *
from sklearn.preprocessing import LabelEncoder

df=pd.read_csv('PimaIndiansDiabetes2.csv')
print(df.describe())

         pregnant     glucose    pressure     triceps     insulin        mass  \
count  768.000000  763.000000  733.000000  541.000000  394.000000  757.000000
mean     3.845052  121.686763   72.405184   29.153420  155.548223   32.457464
std      3.369578   30.535641   12.382158   10.476982  118.775855    6.924988
min      0.000000   44.000000   24.000000    7.000000   14.000000   18.200000
25%      1.000000   99.000000   64.000000   22.000000   76.250000   27.500000
50%      3.000000  117.000000   72.000000   29.000000  125.000000   32.300000
75%      6.000000  141.000000   80.000000   36.000000  190.000000   36.600000
max     17.000000  199.000000  122.000000   99.000000  846.000000   67.100000

         pedigree         age
count  768.000000  768.000000
mean     0.471876   33.240885
std      0.331329   11.760232
min      0.078000   21.000000
25%      0.243750   24.000000
50%      0.372500   29.000000
75%      0.626250   41.000000
max      2.420000   81.000000

In [ ]:
print(df.head(3))

   pregnant  glucose  pressure  triceps  insulin  mass  pedigree  age diabetes
0         6    148.0      72.0     35.0      NaN  33.6     0.627   50      pos
1         1     85.0      66.0     29.0      NaN  26.6     0.351   31      neg
2         8    183.0      64.0      NaN      NaN  23.3     0.672   32      pos

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pregnant  768 non-null    int64
 1   glucose   763 non-null    float64
 2   pressure  733 non-null    float64
 3   triceps   541 non-null    float64
 4   insulin   394 non-null    float64
 5   mass      757 non-null    float64
 6   pedigree  768 non-null    float64
 7   age       768 non-null    int64
 8   diabetes  768 non-null    object
dtypes: float64(6), int64(2), object(1)
memory usage: 54.1+ KB
None

In [ ]:
df=df.dropna()
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 392 entries, 3 to 765
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pregnant  392 non-null    int64
 1   glucose   392 non-null    float64
 2   pressure  392 non-null    float64
 3   triceps   392 non-null    float64
 4   insulin   392 non-null    float64
 5   mass      392 non-null    float64
 6   pedigree  392 non-null    float64
 7   age       392 non-null    int64
 8   diabetes  392 non-null    object
dtypes: float64(6), int64(2), object(1)
memory usage: 30.6+ KB
None

In [ ]:
df['diabetes']=LabelEncoder().fit_transform(df['diabetes'])

x = df.drop('pressure',axis=1)
y= df['pressure']

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

md =RandomForestClassifier(n_estimators=100,max_depth=2)
md.fit(x_train,y_train)

pred = md.predict(x_test)
print(pred)

print(mean_squared_error(y_test,pred,squared=False))

[70. 70. 70. 70. 64. 70. 70. 74. 78. 70. 74. 74. 74. 70. 70. 70. 70. 70.
 78. 74. 64. 70. 70. 70. 74. 70. 74. 70. 70. 74. 70. 74. 78. 78. 64. 70.
 70. 74. 70. 70. 70. 74. 70. 64. 70. 70. 78. 70. 70. 70. 74. 70. 70. 58.
 62. 70. 74. 62. 60. 70. 74. 70. 74. 74. 74. 70. 74. 70. 70. 78. 70. 70.
 74. 62. 74. 78. 70. 70. 70.]
11.398423164320203